.root {
  border-bottom: 1px solid var(--m3o-gray);
  background-color: #fff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homeLink {
  font-weight: bold;
  font-size: 0.9rem;
}
